@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media (max-width: 800px){
    .logo-box .logo-title{
        font-size: 15px !important;
    }
    .logo-box img{
        width: 40px;
    }
    .slide-imgs{
        width: 420px;
    }
    #left-arrow{
        font-size: 15px;
        padding: 10px;
    }
    #right-arrow{
        font-size: 15px;
        padding: 10px;
    }

    .library-box{
        height: 100%;
        min-height: 700px;
    }
    .library-side{
        max-width: 600px;
    }
    .library-menu{
        height: auto;
        width: 100px;
    }
    .library-elements{
        height: 100%;
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .library-element{
        display: flex;
        flex-direction: row;
        align-items: center
    }
    .library-element > article{
        text-align: left;
    }
    .menu-title{
        width: 100px;
    }
    .search-box > fieldset{
        border: none;
    }
}